#main{
    display: flex;
    width: fit-content;
    padding: 20px;
}

#main aside div div i,.other i{
    color:#35b5a4;
    margin: 10px;
}
.overlay {
  transition: opacity 0.3s ease;
}

#main aside div div{
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

#aside2 div div{
    display: flex;
    align-items: flex-start;
    font-size: 0.9em;
    justify-content: center;
}
#aside2{
    margin: 50px 0;
}
#root > div {
    width: 100%;
}
#main aside div{
    width: 250px;
}
.other{
    display: flex !important;
    height: 50px;
    align-items: center;
    justify-content: unset !important;
    font-size: 0.9em;
}
#main aside > div>div:first-child:hover{
    background-color:#eaf7f5;
    cursor: pointer;
}
#main aside > div>div:first-child{
  width: 100%;
  height: 50px;
}
aside{
    box-shadow: 0 0 4px rgb(219, 219, 219);
}
.conf2{
    color: #fff;
    background-color: rgb(1, 88, 52);
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 9px;
    margin: 10px;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 15px;
    cursor: pointer;
}
.conf3{
    color: #fff;
    background-color: rgb(1, 88, 52);
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 9px;
    margin: 10px 0;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 15px;
    cursor: pointer;
}
.conf{
    color: #fff;
    background-color: #2E6BFF;
    outline: none;
    border: none;
    width: 90%;
    display: inline-block;
    padding: 15px 0;
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 15px;
    cursor: pointer;
}
.sub{
    align-items:flex-start !important;
    display:flex;
    flex-direction:column;
}
.sub div{
    padding: 0 15px !important;
}

#main > aside > div > div.sub > div:hover, .other:hover{
    background-color:#eaf7f5;
    cursor: pointer;
}
.type{
    border:1px solid rgb(180, 179, 179);
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}
.type:hover{

    border: 1px solid rgb(15, 119, 236);
    color: rgb(15, 119, 236);
}

input::placeholder {
  color: #d8d7d7;
}
.overlay{
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index:1450;
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
}
.form{
        height: fit-content;
        width: 90%;
    }

    .form{
        --fa-style-family-brands: "Font Awesome 6 Brands";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
    font-family: Poppins,sans-serif;
    box-sizing: border-box;
    margin: 0;
    top: 50%;
    z-index: 1520;
    background-color: #fff;
    left: 50%;
    opacity: 1;
    padding: 30px;
    position: fixed;
    transform: translate(-50%,-50%);
    height: fit-content;
    width: 90%; 
}

#close1 {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 50px;
}

#main > div.form > div > div.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom{
        --fa-style-family-brands: "Font Awesome 6 Brands";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    cursor: grab;
    background: #ddd;
    outline-offset: 1px;
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
    font-size: .75rem;
    line-height: 1.5;
    touch-action: none;
    height: 400px;
    width: 100%;
    position: relative;
}    
.active-option {
  background-color: #eaf7f5;
}
.ko{
    width:35px;
    border-radius: 50%;
    margin-right: 5px;
}
.ad{
     border:1px solid #ddd;
     border-radius:6px;
     padding:10px;
     margin:10px 20px 20px 0;
     position: relative;
     height: fit-content;
       word-break: break-word;
       width: 271px;
}
.ad:hover{
    box-shadow: 0 0 4px #eee;
    cursor: pointer;
}
.ad>img{
    object-fit: cover;
}

aside{
    position: sticky;
    top:100px;
    bottom:0;
    height: fit-content;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 35px;
  background: #fff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border: 1px solid rgb(185, 183, 183);
  border-radius: 3px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 45px;
  background: #ffecd1;
  cursor: pointer;
  border: 1px solid rgb(185, 183, 183);
  border-radius: 3px;
}
#kala{
    margin: 50px 0 0 50px;
    width:100%
}
#kala h1{
     margin:20px 0;
}
#kolo{
     display:flex;
     flex-wrap:wrap;
     width:100%;
}
#bn{
    margin:50px 0;
    padding:10px;
    flex-direction: column;
}
#op{
    margin:50px 0;
    flex-direction: column;
}
#fil{
    border-radius:50%;
    padding:5px;
    bottom:10px;
    right:10px;
    font-size:1.9em;
}
#bas{
    background-color: green;
    color: #fff;
    border-radius: 50%;
    padding: 27px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 20px !important;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:600;
    display:none;
}
.overlay{
    width:100%;
    height:100vh;
    z-index:400;
    background-color:#ccc;
    opacity:0.5;
    display:none;
}
@media screen and (max-width: 400px) {
    #bas{
    display:flex;
    }
    #kala{
        margin:50px auto;
    }
    #kala h1{
        text-align:center;
    }
    #kolo{
        justify-content:center;
    }
    #bn{
        display:none;
    }
    #op{
        display:none;
    }
    #bn,#op{
        position: fixed;
        z-index: 500;
        background: white;
        width: 90%;
        top:5px;
        margin: auto;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    #logo h1{
        font-size: 1.6em;
    }
}
