#logo{
    display: flex;
    align-items: center;
}
header{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid rgb(204, 203, 203);
    box-shadow: 0 0 4px rgb(204, 203, 203);
    align-items: center;
}
#divers{
    display: flex;
    align-items: center;
    margin: 10px;
}
#lang{
    margin:10px;
    border-radius:25px;
    padding:10px 35px;
    border:1px solid rgb(88, 88, 88);
}
#lang:hover{
    border:1px solid rgb(0,0,0);
    cursor: pointer;
}  
#support{
    margin:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    width:40px;
    height:40px;    
    border:1px solid rgb(88, 88, 88);
    border-radius:50%;
} 
#support:hover{
    border:1px solid rgb(0,0,0);
    cursor: pointer;
}

a,a:visited{
    text-decoration: none;
}

#share{
    color:#fff;
}
#logo{
    color:#000;
}
@media screen and (max-width:450px){
    header{
       flex-direction: column;          
    }
}
